<div>
    Welcome to {{{ account.name }}}! This email is your receipt. You can access the {{{ account.name }}}
    dashboard <a href="{{{ loginLink }}}">here</a>. Make sure to log in with this email address to manage
    your membership.
    <br /><br />
    Your license key: {{ license.key }}
    <br /><br />
    We'll see you soon!
</div>