<div>
    Congratulations! You've been selected to join {{{ account.name }}}. Head to the link below to claim your
    membership.<br /><br />

    <a href="{{{ link }}}">{{{ link }}}</a><br /><br />

    We'll see you soon!<br /><br />

    Thanks,<br />
    The {{{ account.name }}} team
</div>